@{
    ViewData["Title"] = "Projects";
}

<h2>@ViewBag.Title</h2>

<ul>
    @foreach (var project in Model.Projects)
    {
        <li><a href="@project.Url">@project.Name</a> - @project.Description</li>
    }
</ul>
