@{
    ViewData["Title"] = "Delete person";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}

<p><a asp-contoller="Person" asp-action="Index">Back to list</a></p>
