* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template: repeat(auto, 3) / auto;
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
}

body > header
{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: lightskyblue;
}

body > header > h1 {
    font-size: 3rem;
    margin: 10px;
}

body > header > ul {
    display: flex;
    list-style: none;
}

body > header > ul > li {
    margin: 0px 10px;
}

body > main {
    grid-column: 1;
    grid-row: 2;
    padding: 10px 0px 0px 0px;
}

body > main > h2 {
    font-size: 2rem;
    margin: 0px 10px 10px 10px;
}

body > main > h3 {
    font-size: 1.5rem;
    margin: 0px 10px 10px 10px;
}

body > main > p {
    margin: 0px 10px 10px 10px;
}

body > main > ul {
    margin: 0px 10px 10px 30px;
}

body > main > table {
    display: table;
    width: 100%;
    border-width: 0px;
    margin: 10px;
}

body > main > table > tr {
    display: table-row;
}

body > main > table > td {
    display: table-cell;
}

body > main > form {
    display: grid;
    grid-template: repeat(auto, 3) / repeat(1fr, 5);
    justify-content: left;
    row-gap: 10px;
    margin: 0px 10px 10px 10px;
}

body > main > form > label.left {
    grid-column: 1;
}

body > main > form > input[type="text"] {
    grid-column: 2 / span 3;
    display: flex;
    margin: 0px 0px 0px 10px;
    border-color: cadetblue;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    background-color: cornsilk;
    padding: 5px;
}

body > main > form > input[type="text"].search {
    grid-column: 1 / span 3;
    margin: 0px;
}

body > main > form > input[type="number"] {
    grid-column: 2 / span 4;
    display: flex;
    margin: 0px 0px 0px 10px;
    border-color: cadetblue;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    background-color: cornsilk;
    padding: 5px;
}

body > main > form > input[type="radio"] {
    display: flex;
    margin: 0px 0px 0px 10px;
}

body > main > form > input[type="submit"] {
    display: flex;
    border-color: darkgreen;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    background-color: lime;
    padding: 5px;
}

body > main > form > input[type="submit"].search {
    grid-column: 4;
    margin: 0px 0px 0px 10px;
}

body > main > form > input[type="submit"].create {
    grid-column: 2;
    margin: 0px 0px 0px 10px;
}

body > main > form > input[type="submit"].guess {
    margin: 0px 0px 0px 10px;
}

body > main > form > input[type="submit"]:hover {
    background-color: whitesmoke;
}

body > main > form > input[type="submit"]:active {
    color: red;
}

body > main > form > span.validation {
    margin: 0px 0px 0px 10px;
    font-size: smaller;
    color: red;
}

body > footer {
    grid-column: 1;
    grid-row: 3;
    display: flex;
    background-color: lightsteelblue;
}

body > footer > p {
    margin: 10px auto;
}